<p style="color: green"><%= notice %></p>
<h1>Courses</h1>

<div id="courses">
  <% @courses.each do |course| %>
    <%= render course %>
    <p>
      <%= link_to "Show this course", course_path(course.id) %>
    </p>
  <% end %>
</div>

<%= link_to "New course", new_course_path %>

<div class="search-form">
    <%= form_tag("/courses/search", method: :post) do %>
      <label for="crn">CRN:</label>
      <%= text_field_tag "crn" %>
      <br>
      <label for="course_name">Course Name:</label>
      <%= text_field_tag "course_name" %>
      <br>
      <%= submit_tag "Search" %>
    <% end %>
  </div>