<p style="color: green"><%= notice %></p>
<h1>Courses</h1>

<div id="courses">
  <% @courses.each do |course| %>
    <div class="course">
      <p>
      <strong>CRN:</strong>
      <%= course.CRN %>
    </p>
    <!-- For issue RAILAST206-34 -->
    <p id="description-<%= course.id %>" style="display: none;"><%= course.Description %></p>
    <p>
      <strong>Name:</strong>
      <%= course.Name %>
    </p>
    <p>
      <strong>Capacity:</strong>
      <%= course.Capacity %>
    </p>
    <p>
    <!-- For issue RAILAST206-29 -->
    <% if current_user.id != 1%>
        <% if current_user.registered_courses.include? course.id %>
          <%= button_to "Drop course", drop_course_path(course.id, current_user.id), method: :delete %>
        <% else %>
          <%= button_to "Register course", register_course_path(course.id, current_user.id), method: :post %>
        <% end %>
    <% end %>
    </p>
    <p>
      <%= link_to "Show this course", course_path(course.id) %>
    </p>
  <% end %>
</div>
<!-- For issue RAILAST206-29 -->
<!-- Only show "New course" link if logged in as a teacher; hide for students -->
  <% if current_user.id == 1 %>
    <%= link_to "New course", new_course_path %>
  <% end %>
  <!-- For issue RAILAST206-36 -->
<div class="search-form">
    <%= form_tag("/courses/search", method: :post) do %>
      <label for="crn">CRN:</label>
      <%= text_field_tag "crn" %>
      <br>
      <label for="course_name">Course Name:</label>
      <%= text_field_tag "course_name" %>
      <br>
      <%= submit_tag "Search" %>
    <% end %>
  </div>