<p style="color: green"><%= notice %></p>

<h1>Registered Courses</h1>

<div id="courses">
  <% @courses.each do |course| %>
    <div class="course">
      <p>
      <strong>CRN:</strong>
      <%= course.CRN %>
    </p>
    <p>
    <strong>Description:</strong>
    <%= course.Description %>
    </p>
    <p>
      <strong>Name:</strong>
      <%= course.Name %>
    </p>
    <p>
      <strong>Capacity:</strong>
      <%= course.Capacity %>
    </p>
    <p>
    <% if current_user.registered_courses.include? course.id %>
    <%= button_to "Drop course", drop_course_path(course.id, current_user.id), method: :delete %>
    <% end %>
    </p>
  <% end %>
</div>