<!DOCTYPE html>
<html>
  <head>
    <title>Assist</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class="nav-link">
    <% if user_signed_in? %>
          <%= link_to "View all Courses", courses_path %>  -
          <%= link_to "Registered Courses", registered_courses_path(current_user.id) %> -
          <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Sign In", new_user_session_path, class: "dropdown-item" %>
    <% end %>
  </div>
    <p style="color: red" class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
