<!DOCTYPE html>
<html>
  <head>
    <title>Assist</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class="nav-link">
    <% if user_signed_in? %>
          <a href="/courses"> View all Courses </a> -
          <%= link_to "Registered Courses", registered_courses_path(current_user.id) %> -
          <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
    <% else %>
     <!-- <a href="/users/sign_in"> Sign In </a> -->
    <% end %>
  </div>
  <p style="color: red" class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
